.pro {
    width: 100%;
    height: 20px;
    border: 3px solid black;
}

#system_title {
    width: 100%;
    height: 400px;
    line-height: 400px;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 20px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    color: var(--main-blueGray);
    text-shadow: 3px 3px 5px var(--main-white-shadow),
    -3px -3px 5px var(--main-white-light);
}

.pre_wrapper {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    position: fixed;
    z-index: -1;

    transform: none;
    opacity: 100%;
}

.pre_text {
    width: 26ch;
    animation: typing 1.5s steps(26), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: "Ubuntu Mono", serif;
    font-size: 1.5em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.pre_wrapper.fade {
    cursor: default;
    animation: ease-out;
    transition: all 0.5s 2.5s, opacity 0.2s 2.5s;
    -webkit-transition: all 0.5s 2.5s, opacity 0.2s 2.5s;

    transform: translateX(-100px);
    opacity: 0;
}

#d_circle_bg {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    position: fixed;
    z-index: 1;
}

#d_circle {
    cursor: default;
    opacity: 100%;
    animation: init 2.4s ease-out 2.7s 1 forwards;
}

#d_circle.fade {
    opacity: 0;

    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

@-webkit-keyframes init {
    0% {
        width: 0;
        transform: translateX(200px);
        height: 5px;
        border-radius: 15px;
        background-color: var(--main-blueGray);
        border: 0 solid var(--main-blue);
        box-shadow: 0 0 0 var(--main-white-light),
        0 0 0 var(--main-white-shadow),
        inset 0 0 0 var(--main-blue-light),
        inset 0 0 0 var(--main-blue-shadow);
    }
    15% {
        width: 200px;
        transform: translateX(0);
        height: 5px;
        border-radius: 15px;
        background-color: var(--main-blueGray);
        border: 0 solid var(--main-blue);
        box-shadow: 0 0 0 var(--main-white-light),
        0 0 0 var(--main-white-shadow),
        inset 0 0 0 var(--main-blue-light),
        inset 0 0 0 var(--main-blue-shadow);
    }
    40% {
        width: 200px;
        transform: translateX(0);
        height: 200px;
        border-radius: 15px;
        background-color: var(--main-blueGray);
        border: 0 solid var(--main-blue);
        box-shadow: 0 0 0 var(--main-white-light),
        0 0 0 var(--main-white-shadow),
        inset 0 0 0 var(--main-blue-light),
        inset 0 0 0 var(--main-blue-shadow);
    }
    65% {
        width: 150px;
        transform: translateX(0) rotateZ(-180deg);
        height: 150px;
        border-radius: 90px;
        background-color: var(--main-blue);
        border: 0px solid var(--main-blue);
        box-shadow: 5px 5px 10px var(--main-white-light),
        -5px -5px 10px var(--main-white-shadow),
        inset 10px 10px 30px var(--main-blue-light),
        inset 10px 10px 30px var(--main-blue-shadow);
    }
    100% {
        width: 150px;
        transform: translateX(-220px) rotateZ(-180deg);
        height: 150px;
        border-radius: 90px;
        background-color: var(--main-blue);
        border: 0px solid var(--main-blue);
        box-shadow: 5px 5px 10px var(--main-white-light),
        -5px -5px 10px var(--main-white-shadow),
        inset 10px 10px 30px var(--main-blue-light),
        inset 10px 10px 30px var(--main-blue-shadow);
    }
}

#d_circle.hover {
    cursor: pointer;
    animation: hover 0.5s ease-out 1 forwards;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

@-webkit-keyframes hover {
    0% {
        width: 150px;
        transform: translateX(-220px) rotateZ(-180deg);
        height: 150px;
        border-radius: 90px;
        background-color: var(--main-blue);
        border: 0px solid var(--main-blue);
        box-shadow: 5px 5px 10px var(--main-white-light),
        -5px -5px 10px var(--main-white-shadow),
        inset 10px 10px 30px var(--main-blue-light),
        inset 10px 10px 30px var(--main-blue-shadow);
    }
    100% {
        width: 150px;
        transform: translateX(-220px) rotateZ(-180deg);
        height: 150px;
        border-radius: 90px;
        background-color: var(--main-white);
        border: 0px solid var(--main-white);
        box-shadow: 5px 5px 10px var(--main-white-light),
        -5px -5px 10px var(--main-white-shadow),
        inset 10px 10px 30px var(--main-white-light),
        inset 10px 10px 30px var(--main-white-shadow);
    }
}

#d_circle.q_hover {
    cursor: default;
    animation: quit_hover 0.5s ease-out 1 forwards;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

@-webkit-keyframes quit_hover {
    0% {
        width: 150px;
        transform: translateX(-220px) rotateZ(-180deg);
        height: 150px;
        border-radius: 90px;
        background-color: var(--main-white);
        border: 0px solid var(--main-white);
        box-shadow: 5px 5px 10px var(--main-white-light),
        -5px -5px 10px var(--main-white-shadow),
        inset 10px 10px 30px var(--main-white-light),
        inset 10px 10px 30px var(--main-white-shadow);
    }
    100% {
        width: 150px;
        transform: translateX(-220px) rotateZ(-180deg);
        height: 150px;
        border-radius: 90px;
        background-color: var(--main-blue);
        border: 0px solid var(--main-blue);
        box-shadow: 5px 5px 10px var(--main-white-light),
        -5px -5px 10px var(--main-white-shadow),
        inset 10px 10px 30px var(--main-blue-light),
        inset 10px 10px 30px var(--main-blue-shadow);
    }
}

#d_title_bg {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    position: fixed;
    z-index: 0;
}

#title_wrapper {
    width: 425px;
    justify-content: left;
    align-items: baseline;
    display: flex;
    flex-direction: column;
}

#d_title {
    margin-left: 100px;
    width: 18ch;
    animation: typing 0.8s steps(9) 4.8s;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Ubuntu Mono", "Microsoft YaHei", serif;
    font-weight: bold;
    color: var(--main-blueGray);
    font-size: 1.5em;

    opacity: 0;
}

#d_subtitle {
    margin-left: 100px;
    width: 53ch;
    animation: typing 1.5s steps(53) 5s;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Ubuntu Mono", "Microsoft YaHei", serif;
    color: var(--main-blueGray);
    font-size: 1em;

    opacity: 0;
}

#d_title.show {
    transition-delay: 4.8s;
    opacity: 100%;
}

#d_title.fade {
    transition: all 0.5s, opacity 0.3s;
    opacity: 0;
    transform: translateX(200px);
}

#d_subtitle.show {
    transition-delay: 5s;
    opacity: 100%;
}

#d_subtitle.fade {
    transition: all 0.5s, opacity 0.3s;
    opacity: 0;
    transform: translateX(200px);
}

#left_up {
    position: fixed;
    z-index: 4;
    width: 600px;
    left: 5%;
    top: 5%;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    /*border: 1px solid black;*/
}

#logo_words1 {
    transform: translateX(100px);
    opacity: 0;

    cursor: default;
    animation: ease-out;
    transition: all 0.5s 4.6s;
    -webkit-transition: all 0.5s 4.6s;
}

#logo_words1.show {
    transform: translateX(0);
    opacity: 100%;
}

#logo_words1.showF {
    transform: translateX(0);
    opacity: 100%;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}


#logo_words2 {
    transform: translateX(100px);
    opacity: 0;

    cursor: default;
    animation: ease-out;
    transition: all 0.5s 4.7s;
    -webkit-transition: all 0.5s 4.7s;
}

#logo_words2.show {
    transform: translateX(0);
    opacity: 100%;
}

#logo_words2.showF {
    transform: translateX(0);
    opacity: 100%;

    transition: all 0.5s 0.1s;
    -webkit-transition: all 0.5s 0.1s;
}

#logo_words3 {
    transform: translateX(100px);
    opacity: 0;
    float: left;

    cursor: default;
    animation: ease-out;
    transition: all 0.5s 4.8s;
    -webkit-transition: all 0.5s 4.8s;
}

#logo_words3.show {
    transform: translateX(0);
    opacity: 100%;
}

#logo_words3.showF {
    transform: translateX(0);
    opacity: 100%;

    transition: all 0.5s 0.2s;
    -webkit-transition: all 0.5s 0.2s;
}

#logo_words4 {
    transform: translateX(100px);
    opacity: 0;
    float: left;

    cursor: default;
    animation: ease-out;
    transition: all 0.5s 4.9s;
    -webkit-transition: all 0.5s 4.9s;
}

#logo_words4.show {
    transform: translateX(0);
    opacity: 100%;
}

#logo_words4.showF {
    transform: translateX(0);
    opacity: 100%;

    transition: all 0.5s 0.3s;
    -webkit-transition: all 0.5s 0.3s;
}

#right_down {
    position: fixed;
    z-index: 5;
    width: 300px;
    height: 20px;
    right: 5%;
    bottom: 5%;
    justify-content: center;
    align-items: center;
    display: flex;

    font-family: Ubuntu, "Microsoft YaHei", serif;
    /*border: 1px solid black;*/
}

#powered_words {
    font-size: 1em;
    text-align: right;
    position: absolute;
    right: 25px;
    width: 0;
    height: 20px;
    overflow: hidden;

    cursor: default;
    animation: ease-out;
    transition: all 0.5s 4.6s;
    -webkit-transition: all 0.5s 4.6s;
}

#words_box {
    left: 0;
    height: 20px;
    width: 240px;
    position: absolute;
    color: rgb(50, 50, 50);
}

#powered_words.show {
    width: 240px;
}

#powered_words.showF {
    width: 240px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#small_bar {
    background-color: var(--main-blueGray);
    width: 0;
    height: 5px;
    position: absolute;
    right: 7px;

    cursor: default;
    animation: ease-out;
    transition: all 0.5s 4.6s;
    -webkit-transition: all 0.5s 4.6s;
}

#small_bar.show {
    width: 14px;
    right: 0;
}

#small_bar.showF {
    width: 14px;
    right: 0;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#in {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -60px;
    transform: translateX(-220px);
    color: var(--main-blueGray);

    opacity: 0;

    cursor: default;
    animation: ease-out;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#in.hover {
    opacity: 100%;
    transform: translateX(-220px) rotateZ(-180deg);
}

#in.fade {
    opacity: 0;
    transform: translateX(-220px) rotateZ(-720deg);

    transition: all 0.8s, opacity 0.3s 0.5s;
    -webkit-transition: all 0.8s, opacity 0.3s 0.5s;
}

#no_touch {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 3;
    display: block;
    transition-delay: 5s;
}

#no_touch.fade {
    z-index: -1;
}

#no_touch.show {
    transition-delay: 0s;
    z-index: 3;
}

#mask {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    display: none;
}

#mask.show {
    display: block;
}

#ring_t {
    width: 170px;
    height: 170px;
    position: fixed;
    z-index: 0;
    top: 50%;
    right: 50%;
    margin-left: -85px;
    margin-top: -85px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 85px;

    opacity: 0;
    transform: translateX(-135px) scale(1.5, 1.5);

    cursor: default;
    animation: ease;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

#ring_t.show {
    opacity: 100%;
    transform: translateX(-135px);
}

#ring_t::before {
    content: "";
    background-image: conic-gradient(
            #eb75b6 0deg,
            #ddf3ff 90deg,
            #6e3deb 180deg,
            #c92f3c 270deg,
            #eb75b6 360deg
    );
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 2s linear infinite;
}

#ring_t::after {
    content: "";
    width: 165px;
    height: 165px;
    background: var(--main-white);
    position: absolute;
    border-radius: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);;
    }
}

#function_box {
    height: 0;
    width: 75%;
    perspective: 800px;
    position: fixed;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    background-color: var(--main-white);

    border-left: 3px var(--main-blueGray) solid;
}

#function_box.show {
    z-index: 4;
    height: 100%;

    cursor: default;
    animation: ease-out;
    transition: all 0.8s 1.5s, height 0.8s 0.7s, z-index 0s;
    -webkit-transition: all 0.8s 1.5s, height 0.8s 0.7s, z-index 0s;
}

#function_box.showF {
    z-index: 4;
    height: 100%;

    cursor: default;
    animation: ease-out;
    transition: all 0.8s 0.8s, height 0.8s, z-index 0s;
    -webkit-transition: all 0.8s 0.8s, height 0.8s, z-index 0s;
}

.function {
    width: 75%;
    height: 85%;
    background: var(--main-white);
    box-shadow: 5px 5px 10px var(--main-white-shadow),
    -5px -5px 10px var(--main-white-light);
    border-radius: 15px;
    position: fixed;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translate3d(600px, 0, 100px);
    opacity: 0;
    z-index: -1;

    cursor: default;
    animation: ease-out;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

.function.show0 {
    transform: rotateY(-10deg);
    opacity: 100%;
    z-index: 1;

    transition-delay: 1.5s;
}

.function.showF {
    transform: rotateY(-10deg);
    opacity: 100%;
    z-index: 1;

    transition-delay: 0.3s;
}

.function.show {
    transform: rotateY(-10deg);
    opacity: 100%;
    z-index: 1;

    transition-delay: 0s;
}

.intro_img {
    position: absolute;
    bottom: 1%;
    height: 95%;
    background-image: url("../imgs/OD.jpg");
    background-size: auto 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px var(--main-white-shadow);

    right: 41%;
    width: 0;

    cursor: default;
    animation: ease-out;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

.intro_img.show0 {
    right: 1%;
    width: 80%;

    transition-delay: 2s;
}

.intro_img.showF {
    right: 1%;
    width: 80%;

    transition-delay: 0.8s;
}

.intro_img.show {
    right: 1%;
    width: 80%;

    transition-delay: 0.5s;
}

.intro {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 0px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: rgba(0, 0, 0, 0.6);
    font-family: Ubuntu, "Microsoft YaHei", serif;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
    line-height: 40px;
    height: 80px;
    padding: 10px;
    overflow: hidden;
    position: absolute;
    left: 10%;
    top: 10%;

    width: 0;
    opacity: 0;

    cursor: default;
    animation: ease-out;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

.intro.show0 {
    width: 350px;
    opacity: 100%;

    transition-delay: 1.9s;
}

.intro.showF {
    width: 350px;
    opacity: 100%;

    transition-delay: 0.7s;
}

.intro.show {
    width: 350px;
    opacity: 100%;

    transition-delay: 0.4s;
}

#od_type_wrapper {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    height: 200px;
    width: 400px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    right: 50%;
}

.od_type {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 0px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    color: rgba(0, 0, 0, 0.6);

    width: 300px;
    height: 50px;
    padding: 5px;
    font-size: 40px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    text-align: right;
    box-sizing: border-box;
    border-right: 0 rgba(0, 191, 255, 0.6) solid;

    transform: translateX(200px);
    opacity: 0;

    cursor: default;
    animation: ease-out;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.od_type.show0 {
    transform: none;
    opacity: 100%;

    transition: all 0.5s, transform 0.5s 0.6s, opacity 0.5s 0.7s;
    -webkit-transition: all 0.5s, transform 0.5s 0.6s, opacity 0.5s 0.7s;
}

.od_type.show1 {
    transform: none;
    opacity: 100%;

    transition: all 0.5s, transform 0.5s 0.7s, opacity 0.5s 0.8s;
    -webkit-transition: all 0.5s, transform 0.5s 0.7s, opacity 0.5s 0.8s;
}

.od_type.show2 {
    transform: none;
    opacity: 100%;

    transition: all 0.5s, transform 0.5s 0.8s, opacity 0.5s 0.9s;
    -webkit-transition: all 0.5s, transform 0.5s 0.8s, opacity 0.5s 0.9s;
}

.od_type.show3 {
    transform: none;
    opacity: 100%;

    transition: all 0.5s, transform 0.5s 0.9s, opacity 0.5s 1s;
    -webkit-transition: all 0.5s, transform 0.5s 0.9s, opacity 0.5s 1s;
}

.od_type:hover {
    border-right: 100px rgba(0, 191, 255, 0.6) solid;
    background-color: rgba(255, 255, 255, 0.5);
    width: 400px;
    color: rgba(0, 191, 255, 0.6);
}

.od_type.clicked {
    background-color: rgba(0, 0, 0, 0.2);
    border-right: 100px rgba(58, 69, 91, 0.6) solid;
    width: 400px;
    color: rgba(255, 255, 255, 0.6);
}

#cd_para_wrapper {
    overflow: hidden;
    height: 200px;
    width: 400px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    right: 50%;
    /*border: 1px black solid;*/
}

.cd_para {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: end;

    cursor: default;
    animation: ease-out;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.cd_para_name {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 0px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;

    height: 50px;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;

    width: 0;
    color: rgba(0, 0, 0, 0);

    cursor: default;
    animation: ease-out;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.cd_para_name.show0 {
    width: 40%;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s, width 0.5s 0.6s, color 0.3s 0.9s;
    -webkit-transition: all 0.5s, width 0.5s 0.6s, color 0.3s 0.9s;
}

.cd_para_name.show1 {
    width: 40%;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s, width 0.5s 0.7s, color 0.3s 1s;
    -webkit-transition: all 0.5s, width 0.5s 0.7s, color 0.3s 1s;
}

.cd_para_name.active {
    background-color: rgba(255, 255, 255, 0.7);
}

.cd_para_value {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 0px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;

    height: 50px;
    outline: none;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;

    width: 0;
    color: rgba(0, 0, 0, 0);

    cursor: text;
    animation: ease-out;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.cd_para_value.show0 {
    width: 60%;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s, width 0.5s 0.6s, color 0.3s 0.9s;
    -webkit-transition: all 0.5s, width 0.5s 0.6s, color 0.3s 0.9s;
}

.cd_para_value.show1 {
    width: 60%;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s, width 0.5s 0.7s, color 0.3s 1s;
    -webkit-transition: all 0.5s, width 0.5s 0.7s, color 0.3s 1s;
}

.cd_para_value::-webkit-outer-spin-button,
.cd_para_value::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.go {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 2px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    color: rgba(255, 255, 255, 0.6);

    border-radius: 5px;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    right: -2%;
    bottom: 5%;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    font-family: Ubuntu, "Microsoft YaHei", serif;

    opacity: 0;
    width: 0;

    cursor: default;
    animation: ease-out;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.go.show0 {
    opacity: 100%;
    width: 150px;

    transition: all 0.5s, opacity 0.5s 2s, width 0.5s 2s;
    -webkit-transition: all 0.5s, opacity 0.5s 2s, width 0.5s 2s;
}

.go.showF {
    opacity: 100%;
    width: 150px;

    transition: all 0.5s, opacity 0.5s 1s, width 0.5s 1s;
    -webkit-transition: all 0.5s, opacity 0.5s 1s, width 0.5s 1s;
}

.go.show {
    opacity: 100%;
    width: 150px;

    transition: all 0.5s, opacity 0.5s 0.5s, width 0.5s 0.5s;
    -webkit-transition: all 0.5s, opacity 0.5s 0.5s, width 0.5s 0.5s;
}

.go:hover {
    transform: translateZ(50px) scale(1.2, 1.2);
}

.go.down {
    transform: translateZ(20px) scale(1.08, 1.08);
    color: rgba(255, 142, 142, 0.6);
}

.function_bt {
    position: fixed;
    background-color: var(--main-blueGray);
    overflow: hidden;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu, "Microsoft YaHei", serif;

    z-index: -1;
    width: 0;
    height: 2px;
    top: 40%;
    color: transparent;
}

.function_bt.show0 {
    z-index: 4;
    width: 20%;
    height: 20%;
    top: 30%;
    color: var(--main-white);

    cursor: default;
    animation: ease-out;
    transition: all 0.5s 1.5s, height 0.5s 2s, top 0.5s 2s, color 0.2s 2s;
    -webkit-transition: all 0.5s 1.5s, height 0.5s 2s, top 0.5s 2s, color 0.2s 2s;
}

.function_bt.showF {
    z-index: 4;
    width: 20%;
    height: 20%;
    top: 30%;
    color: var(--main-white);

    cursor: default;
    animation: ease-out;
    transition: all 0.5s, height 0.5s 0.5s, top 0.5s 0.5s, color 0.2s 0.5s;
    -webkit-transition: all 0.5s, height 0.5s 0.5s, top 0.5s 0.5s, color 0.2s 0.5s;
}

.function_bt.show {
    z-index: 4;
    width: 20%;
    height: 20%;
    top: 30%;
    color: var(--main-white);

    cursor: default;
    animation: ease-out;
    transition: all 0.5s, height 0.5s 0.5s, z-index 0s, color 0s 0.5s;
    -webkit-transition: all 0.5s, height 0.5s 0.5s, z-index 0s, color 0s 0.5s;
}

.function_bt.fade {
    z-index: -1;
    width: 0;
    height: 2px;
    top: 40%;
    color: transparent;

    cursor: default;
    animation: ease-out;
    transition: all 0.5s, width 0.5s 0.5s, z-index 0s 0.5s;
    -webkit-transition: all 0.5s, width 0.5s 0.5s, z-index 0s 0.5s;
}

.function_bt.focus {
    top: 40%;
}

#bt_alt {
    position: fixed;
    z-index: -1;
    height: 90px;
    width: 20%;
    left: 10%;
    top: 50%;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    opacity: 0;
}

#bt_alt.show {
    opacity: 100%;
    z-index: 4;
}

.alt_opt {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    color: rgba(0, 0, 0, 0.6);

    height: 30px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    padding: 5px;
    text-align: center;

    opacity: 0;
    transform: translateX(-200px);

    cursor: pointer;
    animation: ease;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.alt_opt:hover {
    background-color: rgba(58, 69, 91, 0.3);
    color: rgba(255, 255, 255, 0.6);
}

.alt_opt.show0 {
    opacity: 100%;
    transform: none;
    transition: all 0.5s, transform ease-out 0.5s 2.2s, opacity 0.5s 2.4s;
    -webkit-transition: all 0.5s, transform ease-out 0.5s 2.2s, opacity 0.5s 2.4s;
}

.alt_opt.show1 {
    opacity: 100%;
    transform: none;
    transition: all 0.5s, transform ease-out 0.5s 2.3s, opacity 0.5s 2.5s;
    -webkit-transition: all 0.5s, transform ease-out 0.5s 2.3s, opacity 0.5s 2.5s;
}

.alt_opt.show2 {
    opacity: 100%;
    transform: none;
    transition: all 0.5s, transform ease-out 0.5s 2.4s, opacity 0.5s 2.6s;
    -webkit-transition: all 0.5s, transform ease-out 0.5s 2.4s, opacity 0.5s 2.6s;
}

.alt_opt.showF0 {
    opacity: 100%;
    transform: none;
    transition: all 0.5s, transform ease-out 0.5s 0.2s, opacity 0.5s 0.4s;
    -webkit-transition: all 0.5s, transform ease-out 0.5s 0.2s, opacity 0.5s 0.4s;
}

.alt_opt.showF1 {
    opacity: 100%;
    transform: none;
    transition: all 0.5s, transform ease-out 0.5s 0.3s, opacity 0.5s 0.5s;
    -webkit-transition: all 0.5s, transform ease-out 0.5s 0.3s, opacity 0.5s 0.5s;
}

.alt_opt.showF2 {
    opacity: 100%;
    transform: none;
    transition: all 0.5s, transform ease-out 0.5s 0.4s, opacity 0.5s 0.6s;
    -webkit-transition: all 0.5s, transform ease-out 0.5s 0.4s, opacity 0.5s 0.6s;
}

#left_down {
    position: fixed;
    width: 1000px;
    height: 1000px;
    left: -400px;
    bottom: -400px;
    color: rgba(58, 69, 91, 0.1);

    opacity: 0;
    z-index: -1;
    transform: none;
}

#left_down.show {
    opacity: 100%;
    z-index: 3;

    cursor: default;
    animation: rotate_2 50s linear infinite;
    transition: all 1s ease-out 1.5s;
    -webkit-transition: all 1s ease-out 1.5s;
}

#left_down.showF {
    opacity: 100%;
    z-index: 3;

    cursor: default;
    animation: rotate_2 50s linear infinite;
    transition: all 1s ease-out 0.5s;
    -webkit-transition: all 1s ease-out 0.5s;
}

@-webkit-keyframes rotate_2 {
    0% {
        transform: rotateZ(-180deg);
    }
    100% {
        transform: rotateZ(-540deg);
    }
}

#loader_text {
    width: 10ch;
    height: 20px;
    position: fixed;
    z-index: 4;
    right: 50%;
    top: 50%;
    margin-top: -10px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    font-weight: bold;
    font-size: 20px;
    color: var(--main-blueGray);

    transform: translateX(100px);
    opacity: 0;

    cursor: default;
    animation: ease-out;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#loader_text.show {
    transform: none;
    opacity: 100%;
}

.model_wrapper {
    overflow: scroll;
    height: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    right: -3%;
    /*border: 1px white solid;*/

    width: 0;

    animation: ease-out;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.model_wrapper.show0 {
    width: 400px;
    transition-delay: 1.7s;
}

.model_wrapper.showF {
    width: 400px;
    transition-delay: 0.7s;
}

.model_wrapper.show {
    width: 400px;
    transition-delay: 0.5s;
}

.model_wrapper::-webkit-scrollbar {
    display: none;
}

.model_wrapper_title {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 0px solid rgba(0, 0, 0, 0.18);
    box-shadow: rgba(103, 103, 103, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(103, 103, 103, 0.19) 0px 6px 15px 0px;
    color: rgba(255, 255, 255, 0.6);

    width: 400px;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    line-height: 30px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: bold;

    cursor: default;
}

.model_add {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 0px solid rgba(0, 0, 0, 0.18);
    box-shadow: rgba(103, 103, 103, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(103, 103, 103, 0.19) 0px 6px 15px 0px;
    color: rgba(255, 255, 255, 0.6);

    width: 400px;
    height: 30px;
    padding: 3px;
    font-size: 20px;
    line-height: 24px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: bold;
    border-radius: 10px;

    cursor: pointer;
    animation: ease-out;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.model_add:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(173, 173, 173, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(173, 173, 173, 0.19) 0px 6px 15px 0px;
    color: rgba(0, 0, 0, 0.6);
}

.model_del {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 0px solid rgba(0, 0, 0, 0.18);
    box-shadow: rgba(103, 103, 103, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(103, 103, 103, 0.19) 0px 6px 15px 0px;
    color: rgba(255, 255, 255, 0.6);

    width: 400px;
    height: 30px;
    padding: 3px;
    font-size: 20px;
    line-height: 24px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: bold;
    border-radius: 10px;

    cursor: pointer;
    animation: ease-out;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.model_del:hover {
    background-color: rgba(255, 0, 0, 0.4);
    box-shadow: rgba(173, 173, 173, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(173, 173, 173, 0.19) 0px 6px 15px 0px;
    color: rgba(0, 0, 0, 0.6);
}

.model_opt {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 0px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    color: rgba(0, 0, 0, 0.6);

    width: 400px;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    line-height: 30px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    text-align: left;
    box-sizing: border-box;
    overflow-x: scroll;

    cursor: pointer;
    animation: ease-out;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.model_opt::-webkit-scrollbar {
    display: none;
}

.model_opt:hover {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: rgba(91, 91, 91, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(91, 91, 91, 0.19) 0px 6px 15px 0px;
    color: rgba(255, 255, 255, 0.6);
}

.model_opt.clicked {
    background-color: rgba(58, 69, 91, 0.6);
    color: rgba(255, 255, 255, 0.6);
    text-align: right;
}

.model_info {
    background-color: rgba(58, 69, 91, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 0px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    color: rgba(255, 255, 255, 0.6);

    width: 400px;
    font-size: 15px;
    line-height: 17px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    text-align: left;
    box-sizing: border-box;
    overflow: hidden;

    height: 0;
    padding: 0;

    cursor: default;
    animation: ease-out;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.model_info.focus {
    height: auto;
    padding: 5px;
}

.panel_add {
    position: fixed;
    left: 50%;
    margin-left: -500px;
    top: 50%;
    margin-top: -300px;
    width: 1000px;
    height: 600px;
    background-image: url("../imgs/add_model.png");
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 15px;

    opacity: 0;
    z-index: -1;
    filter: blur(10px);
    transform: translateY(30px);

    animation: ease-out;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.panel_add.show {
    opacity: 100%;
    z-index: 11;
    filter: blur(0);
    transform: translateY(0);
    transition: all 0.3s, z-index 0s;
}

#panel_add_leave {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    font-weight: bold;
    right: 80px;
    top: 70px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: rgba(152, 152, 152, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(152, 152, 152, 0.19) 0px 6px 15px 0px;
    color: rgb(50, 50, 50, 0.9);

    cursor: pointer;
}

#panel_add_leave:hover {
    background-color: rgba(217, 37, 37, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: rgba(255, 255, 255, 0.9);
}

#panel_upload_title {
    position: absolute;
    width: 300px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    font-weight: bold;
    font-size: 60px;
    left: 80px;
    top: 50px;
    color: rgb(50, 50, 50);
}

#panel_upload_requirements {
    position: absolute;
    width: 300px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    font-size: 15px;
    left: 80px;
    bottom: 80px;
    color: rgb(50, 50, 50);
}

#panel_upload_bt {
    position: absolute;
    width: 240px;
    height: 50px;
    line-height: 50px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    left: 80px;
    top: 220px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(11, 94, 235, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: rgba(8, 69, 168, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(8, 69, 168, 0.19) 0px 6px 15px 0px;
    color: rgb(255, 255, 255, 0.9);

    display: none;

    cursor: pointer;
    animation: ease-out;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

#panel_upload_bt.show {
    display: flex;
}

#panel_upload_bt:hover {
    background-color: rgba(221, 225, 231, 0.7);
    box-shadow: rgba(152, 152, 152, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(152, 152, 152, 0.19) 0px 6px 15px 0px;
    color: rgb(50, 50, 50, 0.9);
}

#panel_upload_bt.clicked {
    background-color: rgb(21, 215, 196, 0.7);
    box-shadow: none;
    -webkit-box-shadow: none;
    color: rgb(222, 226, 232, 0.9);
}

#panel_upload_bt.wrong {
    background-color: rgba(217, 37, 37, 0.7);
    box-shadow: none;
    -webkit-box-shadow: none;
    color: rgb(222, 226, 232, 0.9);
}


#panel_upload_info {
    position: absolute;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    left: 330px;
    top: 230px;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: rgba(152, 152, 152, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(152, 152, 152, 0.19) 0px 6px 15px 0px;
    color: rgb(50, 50, 50, 0.9);
}

#panel_upload_name {
    position: absolute;
    width: 240px;
    height: 50px;
    line-height: 50px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    left: 80px;
    top: 150px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    border: none;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: rgba(152, 152, 152, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(152, 152, 152, 0.19) 0px 6px 15px 0px;
    color: rgb(50, 50, 50, 0.9);

    cursor: text;
    animation: ease-out;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

#panel_upload_name:focus {
    background-color: rgba(50, 50, 50, 0.2);
    box-shadow: rgba(103, 103, 103, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(103, 103, 103, 0.19) 0px 6px 15px 0px;
    color: rgba(255, 255, 255, 0.6);
}

#panel_upload_desc {
    position: absolute;
    width: 580px;
    height: 50px;
    line-height: 50px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    left: 340px;
    top: 150px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    border: none;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: rgba(152, 152, 152, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(152, 152, 152, 0.19) 0px 6px 15px 0px;
    color: rgb(50, 50, 50, 0.9);

    cursor: text;
    animation: ease-out;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

#panel_upload_desc:focus {
    background-color: rgba(50, 50, 50, 0.2);
    box-shadow: rgba(103, 103, 103, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(103, 103, 103, 0.19) 0px 6px 15px 0px;
    color: rgba(255, 255, 255, 0.6);
}

#panel_upload_desc:disabled {
    cursor: not-allowed;
    background-color: rgba(10, 10, 10, 0.2);
    color: rgba(80, 80, 80, 0.6);
}

.panel_del {
    position: fixed;
    left: 50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -200px;
    width: 800px;
    height: 400px;
    background-image: url("../imgs/del_model.png");
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 15px;

    opacity: 0;
    z-index: -1;
    filter: blur(10px);
    transform: translateY(30px);

    animation: ease-out;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.panel_del.show {
    opacity: 100%;
    z-index: 11;
    filter: blur(0);
    transform: translateY(0);

    transition: all 0.3s, z-index 0s;
}

#panel_del_title {
    position: absolute;
    width: 500px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    font-weight: bold;
    font-size: 50px;
    left: 60px;
    top: 40px;
    color: rgb(50, 50, 50);
}

#panel_del_confirm {
    position: absolute;
    width: 140px;
    height: 50px;
    line-height: 50px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    left: 60px;
    bottom: 60px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(229, 51, 51, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: rgba(8, 69, 168, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(8, 69, 168, 0.19) 0px 6px 15px 0px;
    color: rgb(255, 255, 255, 0.9);

    cursor: pointer;
}

#panel_del_confirm:hover {
    background-color: rgb(229, 51, 51);
    box-shadow: none;
    -webkit-box-shadow: none;
}

#panel_del_cancel {
    position: absolute;
    width: 140px;
    height: 50px;
    line-height: 50px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    left: 220px;
    bottom: 60px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: rgba(152, 152, 152, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(152, 152, 152, 0.19) 0px 6px 15px 0px;
    color: rgb(50, 50, 50, 0.9);

    cursor: pointer;
}

#panel_del_cancel:hover {
    background-color: rgba(255, 255, 255);
    box-shadow: none;
    -webkit-box-shadow: none;
}

#panel_del_name {
    position: absolute;
    width: 680px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    font-weight: bold;
    font-size: 30px;
    left: 60px;
    top: 110px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: rgba(152, 152, 152, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(152, 152, 152, 0.19) 0px 6px 15px 0px;
    color: rgb(50, 50, 50);
    overflow-x: scroll;
}

#panel_del_name::-webkit-scrollbar {
    display: none;
}

#panel_del_desc {
    position: absolute;
    width: 500px;
    font-family: Ubuntu, "Microsoft YaHei", serif;
    font-size: 20px;
    left: 60px;
    top: 170px;
    border-radius: 10px;
    height: 100px;
    color: rgb(50, 50, 50);
    /*border: 1px black solid;*/
    overflow-y: scroll;
}

#panel_del_desc::-webkit-scrollbar {
    display: none;
}
